.small-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-bottom: -8px;
}

.userimage{
  -moz-border-radius:52px;
  -webkit-border-radius:52px;
  border-radius: 10px;
  border: 2px solid grey;
  width:150px;
  text-align: bottom;
  opacity:1;
  margin-bottom: 0;

}