.nav-small-avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-bottom: -10px;
  margin-top: -10px;
}

.userimage{
  -moz-border-radius:52px;
  -webkit-border-radius:52px;
  border-radius: 10px;
  border: 2px solid grey;
  width:150px;
  text-align: bottom;
  opacity:1;
  margin-bottom: 0;

}

.small-avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-bottom: 3px;
  margin-top: 3px;
}

.friends {
  width: 30%;
  display: inline;
  margin-top: 10px;
  margin-bottom: 5px;

}

.friends h3 {
  display: block;

}

.navbar-left {
  margin-top: 10px;
}

// .nav-button {
//   float: left;
//   display: inline;
// }
